COMPOSE_PROJECT_NAME=schuit
LOCAL_PORT=8081

WORDPRESS_IMAGE=wordpress:latest
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress-pass
WORDPRESS_DB_ROOT_PASSWORD=wordpress-root-pass

WEBTREES_VERSION=2.2.6
WEBTREES_DB_NAME=webtrees
WEBTREES_DB_USER=webtrees
WEBTREES_DB_PASSWORD=webtrees-pass
WEBTREES_DB_ROOT_PASSWORD=webtrees-root-pass
